* {
    box-sizing: border-box;
  }

  
body {
  background-color: #f4f5f6;/*#f607b2;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: none;
  font-family: Arial;
}

header {
  width: 100%;
  box-shadow: inset 0px 33px 0px 0 #f4f5f6, 
          inset 0 66px 15px 0px #f4f5f6,
          inset 0 320px 5px 0px #e5e2e2;

}

hr {
  border: 2px solid black;
}

a:link, a:visited {
  color: rgb(108, 15, 155);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  text-emphasis-color: rgb(3, 207, 255)
}

table {
  border-collapse: collapse;
  border: 10px solid rgb(230, 230, 233);
  font-family: sans-serif;
  font-size: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  /*letter-spacing: 1px;*/
}

thead,
tfoot {
  font-size: 2rem;
  color: rgb(0, 51, 160);
  /*background-color: rgb(228 240 245);*/
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

ul {
  background: rgb(241, 240, 243);
  padding: 20px;
}

ul li {
  /*background: rgb(217, 214, 214);*/
  color: darkblue;
  margin: 10px;
}
  
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 200%;
  word-break: break-all;
  text-align: center;
  background: #1e1e1e;
  /*padding-left: 4%;*/
  padding-right: 4%;
  /*background: linear-gradient(to right, #030035 0%, #021af0 100%);*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_img {
  position: relative;
  width:100%;
  height:auto;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 10px;
  
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: rgb(230, 230, 233);
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0, 51, 160);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}






/* CSS For Collapse Menu*/

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 20%;
  border: 2px;
  text-align: center;
  outline: none;
  font-size: 15px;
  float: left,
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.expanded {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  clear: both
}

/*Enter Button*/
.enter_button {
  clear: both;
  width: 70%;
  height: 20%;
  position: relative;
  left: 10%
}

/*Login*/
.login {
  align-items: center;
  appearance: none;
  background-color: #b0a5d7;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  /*float: right;*/
}

.login:active {
  border-color: #4a4a4a;
  outline: 0;
}

.login:focus {
  border-color: #485fc7;
  outline: 0;
}

.login:hover {
  border-color: #b5b5b5;
}

.login:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}


/*Modal*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5e63f4;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5e63f4;
  color: white;
  height: 50px;
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 3px solid #070707;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-text {
  padding: 10px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}



.kidnapmain {
  background-color: #0dbece;
}